@{
    Layout = "Layout";
    ViewData["Title"] = "Login";
}

<section class="auth-box">
    <span class="title">Login</span>
    <form method="post" action="@Url.Link("Login", null)">
        @if (TempData["error"] != null)
        {
            <span class="error">@TempData["error"]</span>
        }
        <input required type="text" name="Email" placeholder="Email">
        <input required type="password" name="Password" placeholder="Wachtwoord">
        <button type="submit">Inloggen</button>
    </form>
    <span>Nog geen account?</span>
    <a href="/register">Registreren</a>
</section>