@{
    Layout = "Layout";
    ViewData["Title"] = "Login";
}

<div>
    <h1>Login</h1>
    <form method="post" action="@Url.Link("Login", null)">
        <input type="text" name="Email" placeholder="Email">
        <input type="password" name="Password" placeholder="Wachtwoord">
        <input type="submit" value="Inloggen">
    </form>
</div>