@{
    Layout = "Layout";
    ViewData["Title"] = "Register";
}

<div>
    <h1>Register</h1>
    <h2>Register</h2>
    <h3>Register</h3>
    <h4>Register</h4>
    <h5>Register</h5>
    <h6>Register</h6>
</div>