@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #d6d6d6;
}

a {
  color: initial;
  text-decoration: none;
}

footer {
  margin-top: 80px;
}

section.header,
.card-items,
section.show-more,
section.auth-box,
section.catalogue,
section .image-cards,
nav.navbar,
section.product .flex-row .information,
section.product .flex-row .product-header,
footer {
  box-shadow: 5px 5px 10px 0 #0000001c;
  margin-bottom: 20px;
  padding: 15px;
  background: #f2f2f2;
}

.container {
  margin: auto;
  padding: 10px;
}

@import "_partials/navbar";
@import "_partials/title-header";
@import "_partials/record-card";
@import "_partials/show-more";
@import "_partials/footer";
@import "_partials/auth";
@import "_partials/product";
@import "_partials/pagination";

@media (prefers-color-scheme: dark) {
  body {
    background: #1c1c1c;
  }

  section.header,
  .card-items,
  section.show-more,
  section.auth-box,
  section.catalogue,
  section .image-cards,
  nav.navbar,
  section.product .flex-row .information,
  section.product .flex-row .product-header,
  footer {
    box-shadow: 5px 5px 10px 0 #00000063;
    background: #2d2d2d;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}