<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Web_Development</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body class="text-center mainbox">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Web_Development</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Login/Registreren</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Web_Development - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>

<style>
    :root {
        --themelightblue: #ADBFFF;
        --thememiddleblue: #6083FF;
        --themedarkblue: #4E69CC;
        --themedarkgrey: #575D71;
        --themelightgrey: #C4C4C4;
        --themelightestgrey: #F2F2F2;
    }
    
    h1{
        color:black;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 3.5em;
    }
    h2{
        color:black;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 2.6em;
        
    }
    h3{
        color:black;
        font-family: 'Roboto';
        font-weight: 100;
    }
    p{
        color:black;
        font-family: 'black';
        font-size: 1.3em;
        font-weight: 100;
        
    }

    .lb-button{
        background-color: #6083FF;
        color:black;
        text-decoration: none;
        border: 18px solid #6083FF;
        border-radius: 5px;
        font-size: 120%;
        color:black;
    }
    .lb-button:hover{
        background-color: #ADBFFF;
        border: 18px solid #ADBFFF;
        color:black;
        cursor:default;
    }


    .light-grey-bg{
        background-color:var(--themelightestgrey);
    }


    .small-banner{
        background-color: var(--themelightestgrey);
        
    }
    .small-banner h2{
        margin-bottom:0;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .items-box{
        background-color: #F2F2F2;
    }

    .page-title{
        padding: 0.5em 0em 1em 0em;
    }
    .page-subtitle{
        width: 70%;
        transform: translate(-50%);
        margin-left: 50%;
        padding-bottom: 5em;;
    }


    .banner{
        height: 300px;
        padding-bottom: 30em;;
        
    }
    .card-image{
        width: 14rem;
        height: 14rem;
    }
    .card{
        margin: .8rem .8rem .8rem .8rem;
        max-width: 14rem;
    }
    .card:hover{
        background-color: rgb(201, 201, 201);
    }
    .mainbox{
        max-width: 1000px;
        margin: auto;
    }
    .card-image{
        width: 100%; 
        height: 100%;
        object-fit: cover;

        }
    .card-title{
        
    }
</style>
</html>