<footer>
    <div class="line"></div>
    <span class="title">Rolink Records</span>
    <div class="sitemaps">
        @if (ViewBag.user == null)
        {
            <a class="sitemap" href="@Url.Action("Register", "Auth")">Register</a>
            <a class="sitemap" href="@Url.Action("Login", "Auth")">Login</a>
        }
        else
        {
            <a class="sitemap" href="@Url.Action("Index", "Catalogue")">Catelogus</a>
            <a class="sitemap" href="@Url.Action("Index", "Account")">Account</a>
        }
        <a class="sitemap" href="#">Contact</a>
        <a class="sitemap" href="#">Site map</a>
        <a class="sitemap" href="#">Service</a>
        <a class="sitemap" href="#">veelgestelde vragen</a>
    </div>
</footer>