<footer>
    <div class="line"></div>
    <span class="title">Title title</span>
    <div class="sitemaps">
        <a class="sitemap" href="#">sitemap 1</a>
        <a class="sitemap" href="#">sitemap 2</a>
        <a class="sitemap" href="#">sitemap 3</a>
        <a class="sitemap" href="#">sitemap 4</a>
        <a class="sitemap" href="#">sitemap 5</a>
        <a class="sitemap" href="#">sitemap 6</a>
    </div>
</footer>