<nav class="navbar">
    <span class="title">Rolink Records</span>
    <i class="fas fa-bars navbar-toggle"></i>
    <section class="buttons">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
        <a href="#">Link 5</a>
        <a href="#">Link 6</a>
        <a class="btn" href="#">Login / Register</a>
    </section>
</nav>