<nav class="navbar">
    <a class="title" href="/">
        <img class="logo" src="img/logo.png">
        <span>Rolink Records</span>
    </a>
    <i class="fas fa-bars navbar-toggle"></i>
    <section class="buttons">
        <a href="/catalogue">Catelogus</a>
        <a class="btn" href="/register">Aanmelden</a>
        <a class="btn" href="/login">Login</a>
    </section>
</nav>