<section class="pagination">
    <div class="previous">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="current">1</div>
    <div class="next">
        <i class="fas fa-arrow-right"></i>
    </div>
</section>