@model Web_Development.Models.Record
<div class="record-card">
    <a href="@Url.Action("Index", "Product", new {RecordId = Model.Id})">
        @{
            var youtubeUrl = "";
            if (!string.IsNullOrEmpty(@Model.YoutubeToken))
            {
                youtubeUrl = $"https://img.youtube.com/vi/{@Model.YoutubeToken}/0.jpg";
            }
        }
        <div class="record-header" style="background-image: url(@youtubeUrl)">
            <div class="play-btn"></div>
        </div>
        <div class="record-footer">
            <span class="record-title">@Model.Title</span>
            <span class="record-artist">@Model.Artist</span>
        </div>
    </a>
</div>