@{
    Layout = "Layout";
    ViewData["Title"] = "Index";
}

<section class="header">
    <div class="image"></div>
    <span class="title">Rolink Records</span>
    <div class="description">Ben u opzoek naar een webshop waar u uw vinyl collectie mee kunt vergroten, dan is <strong>Rolink Records</strong> de webshop voor u.</div>
    <a class="action" href="/catalogue">Bekijk de catelogus</a>
</section>

<section class="card-items">
    <span class="title">Vinyl platen</span>
    <div class="cards">
        @for (int i = 0; i < 5; i++)
        {
            <div class="record-card">
                <div class="record-header">
                    <div class="play-btn"></div>
                </div>
                <a href="#">
                    <div class="record-footer">
                        <span class="record-title">Item Title</span>
                        <span class="record-price">€99</span>
                    </div>
                </a>
            </div>
        }
    </div>
</section>

<section class="show-more">
    <div class="image"></div>
    <span class="title">Meer zien?</span>
    <div class="description">U kunt onze volledige collectie bekijken, het enige dat u hoeft te doen is het aanmaken van een account. Maak uw account vandaag nog aan.</div>
    <a class="action" href="/register">Account aanmaken</a>
</section>