@{
    Layout = "Layout";
    ViewData["Title"] = "Index";
}

<section class="header">
    <span class="title">Lorem ipsum</span>
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    <button class="action">Bekijk de catelogus</button>
</section>

<section class="card-items">
    <span class="title">Items</span>
    <div class="cards">
        <div class="record-card">
            <div class="record-header">
                <div class="play-btn"></div>
            </div>
            <div class="record-footer">
                <span class="record-title">Item Title</span>
                <span class="record-price">€99</span>
            </div>
        </div>
        <div class="record-card">
            <div class="record-header">
                <div class="play-btn"></div>
            </div>
            <div class="record-footer">
                <span class="record-title">Item Title</span>
                <span class="record-price">€99</span>
            </div>
        </div>
        <div class="record-card">
            <div class="record-header">
                <div class="play-btn"></div>
            </div>
            <div class="record-footer">
                <span class="record-title">Item Title</span>
                <span class="record-price">€99</span>
            </div>
        </div>
        <div class="record-card">
            <div class="record-header">
                <div class="play-btn"></div>
            </div>
            <div class="record-footer">
                <span class="record-title">Item Title</span>
                <span class="record-price">€99</span>
            </div>
        </div>
        <div class="record-card">
            <div class="record-header">
                <div class="play-btn"></div>
            </div>
            <div class="record-footer">
                <span class="record-title">Item Title</span>
                <span class="record-price">€99</span>
            </div>
        </div>
    </div>
</section>

<section class="show-more">
    <span class="title">Meer zien?</span>
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    <button class="action">Account aanmaken</button>
</section>