@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #d6d6d6;
}

a {
  color: initial;
  text-decoration: none;
}

footer {
  margin-top: 80px;
}

section.header,
.card-items,
section.show-more,
section.auth-box,
section.catalogue,
section.product,
nav.navbar,
footer {
  box-shadow: 5px 5px 10px 0 #0000001c;
  margin-bottom: 20px;
  padding: 15px;
  background: #f2f2f2;
}

.container {
  margin: auto;
  padding: 10px;
}

nav.navbar {
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  user-select: none;
}
nav.navbar .title {
  margin-right: auto;
  display: flex;
  align-items: center;
}
nav.navbar .title img {
  height: 30px;
  width: 30px;
  margin-right: 8px;
}
nav.navbar .fas, nav.navbar .fa {
  display: none;
}
nav.navbar .buttons {
  z-index: 2;
}
nav.navbar .buttons a {
  margin: 0 10px;
  width: max-content;
}
nav.navbar .buttons a.btn {
  color: white;
  background: black;
  padding: 5px 15px;
  border-radius: 5px;
}

nav.mobile .fas, nav.mobile .fa {
  display: block;
}
nav.mobile .buttons {
  display: none;
}

nav.mobile.active .buttons {
  position: absolute;
  left: 0;
  top: 50px;
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: #00000080;
}
nav.mobile.active .buttons a {
  margin-bottom: 10px;
  color: white;
}

section.header {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  user-select: none;
}
section.header .image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://media.istockphoto.com/photos/vinyl-records-collection-picture-id1213228417?k=6&m=1213228417&s=612x612&w=0&h=6PWr2IgEKVQ-cJRkHrWpuuRyXlrQhF9JO7EtWYLKAJM=");
  filter: blur(20px);
  background-size: cover;
}
section.header .title {
  font-size: 50px;
  margin-bottom: 60px;
  color: white;
  z-index: 1;
}
section.header .description {
  margin-bottom: 80px;
  max-width: 430px;
  color: white;
  z-index: 1;
}
section.header .action {
  border: 0;
  background: #bdbdbd;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  z-index: 1;
}

.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  user-select: none;
}
.card-items .title {
  font-size: 50px;
  padding: 25px 25px 0 25px;
}
.card-items .cards {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.card-items .cards .record-card {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}
.card-items .cards .record-card .record-header {
  width: 100%;
  height: 300px;
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-items .cards .record-card .record-header .play-btn {
  box-sizing: border-box;
  border-color: transparent transparent transparent #202020;
  cursor: pointer;
  border-style: solid;
  border-width: 25.5px 0 25.5px 40px;
}
.card-items .cards .record-card .record-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #a1a1a1;
  padding: 10px;
}
.card-items .cards .record-card .record-footer .record-artist {
  font-size: 12px;
  color: #646464;
}
.card-items .cards .record-card .record-footer .record-price {
  font-size: 13px;
  color: #646464;
}
.card-items .cards .record-card:hover {
  scale: 1.01;
}

@media only screen and (min-width: 576px) {
  .card-items .cards .record-card {
    width: 50%;
  }
  .card-items .cards .record-card .record-header {
    height: 210px;
  }
}
@media only screen and (min-width: 768px) {
  .card-items .cards .record-card {
    width: 33%;
  }
  .card-items .cards .record-card .record-header {
    height: 181px;
  }
}
@media only screen and (min-width: 992px) {
  .card-items .cards .record-card {
    width: 25%;
  }
  .card-items .cards .record-card .record-header {
    height: 185px;
  }
}
@media only screen and (min-width: 1200px) {
  .card-items .cards .record-card {
    width: 20%;
  }
  .card-items .cards .record-card .record-header {
    height: 174px;
  }
}
@media only screen and (min-width: 1400px) {
  .card-items .cards .record-card .record-header {
    height: 214px;
  }
}
section.show-more {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  user-select: none;
}
section.show-more .image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://i.pinimg.com/originals/13/88/8e/13888e00e0fae2a586e9d410e0cabea3.jpg");
  filter: blur(20px);
  background-size: cover;
}
section.show-more .title {
  font-size: 50px;
  margin-bottom: 60px;
  color: white;
  z-index: 1;
}
section.show-more .description {
  margin-bottom: 80px;
  max-width: 430px;
  color: white;
  z-index: 1;
}
section.show-more .action {
  border: 0;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  z-index: 1;
}

footer {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
}
footer .line {
  background: black;
  height: 1px;
  width: 100%;
  box-shadow: 0 5px 3px 0 #c2c2c2;
  margin: 10px 0 25px 0;
}
footer .title {
  font-size: 18px;
}
footer .sitemaps {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
footer .sitemaps .sitemap {
  width: 50%;
  text-align: center;
  font-size: 15px;
}

section.auth-box {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.auth-box .title {
  font-size: 40px;
  margin-bottom: 25px;
  user-select: none;
}
section.auth-box span {
  font-size: 13px;
  margin-bottom: 7px;
  user-select: none;
}
section.auth-box span.error {
  color: red;
}
section.auth-box a {
  background: gray;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  user-select: none;
}
section.auth-box form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
section.auth-box form input[type=text], section.auth-box form input[type=password] {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
section.auth-box form button {
  background: black;
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 15px;
}
section.auth-box form button.gray {
  background: gray;
}
section.auth-box form .boxes {
  display: flex;
  max-width: 500px;
}
section.auth-box form .boxes .box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 15px;
}
section.auth-box form .boxes .box:last-child {
  margin: 0 0 0 15px;
}
section.auth-box form .boxes .box:first-child {
  margin: 0 15px 0 0;
}

section.pagination {
  display: flex;
  justify-content: center;
  margin: 15px;
  user-select: none;
}
section.pagination .current, section.pagination .next, section.pagination .previous {
  background: #c4c4c4;
  height: 25px;
  min-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 0 6px;
  padding: 5px;
}
section.pagination .next, section.pagination .previous {
  cursor: pointer;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}

/*# sourceMappingURL=app.css.map */
