@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  padding: 10px;
}

nav.navbar {
  height: 50px;
  margin-bottom: 10px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 20px;
}
nav.navbar .title {
  margin-right: auto;
}
nav.navbar .fas, nav.navbar .fa {
  display: none;
}
nav.navbar .buttons a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
  width: max-content;
}
nav.navbar .buttons a.btn {
  color: white;
  background: black;
  padding: 5px 15px;
  border-radius: 5px;
}

nav.mobile .fas, nav.mobile .fa {
  display: block;
}
nav.mobile .buttons {
  display: none;
}

nav.mobile.active .buttons {
  position: absolute;
  left: 0;
  top: 50px;
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: #00000080;
}
nav.mobile.active .buttons a {
  margin-bottom: 10px;
  color: white;
}

section.header {
  min-height: 500px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
}
section.header .title {
  font-size: 50px;
  margin-bottom: 60px;
}
section.header .description {
  margin-bottom: 80px;
  max-width: 430px;
}
section.header .action {
  border: 0;
  background: #bdbdbd;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card-items {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.card-items .title {
  font-size: 50px;
  padding: 25px 25px 0 25px;
}
.card-items .cards {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.card-items .cards .record-card {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}
.card-items .cards .record-card .record-header {
  width: 100%;
  height: 300px;
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-items .cards .record-card .record-header .play-btn {
  box-sizing: border-box;
  border-color: transparent transparent transparent #202020;
  cursor: pointer;
  border-style: solid;
  border-width: 25.5px 0 25.5px 40px;
}
.card-items .cards .record-card .record-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #a1a1a1;
  padding: 10px;
}
.card-items .cards .record-card .record-footer .record-price {
  font-size: 13px;
  color: #646464;
}

@media only screen and (min-width: 576px) {
  .card-items .cards .record-card {
    width: 50%;
  }
  .card-items .cards .record-card .record-header {
    height: 210px;
  }
}
@media only screen and (min-width: 768px) {
  .card-items .cards .record-card {
    width: 33%;
  }
  .card-items .cards .record-card .record-header {
    height: 181px;
  }
}
@media only screen and (min-width: 992px) {
  .card-items .cards .record-card {
    width: 25%;
  }
  .card-items .cards .record-card .record-header {
    height: 185px;
  }
}
@media only screen and (min-width: 1200px) {
  .card-items .cards .record-card {
    width: 20%;
  }
  .card-items .cards .record-card .record-header {
    height: 174px;
  }
}
@media only screen and (min-width: 1400px) {
  .card-items .cards .record-card .record-header {
    height: 214px;
  }
}
section.show-more {
  min-height: 400px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
}
section.show-more .title {
  font-size: 50px;
  margin-bottom: 60px;
}
section.show-more .description {
  margin-bottom: 80px;
  max-width: 430px;
}
section.show-more .action {
  border: 0;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
}
footer .line {
  background: black;
  height: 1px;
  width: 100%;
  box-shadow: 0 5px 3px 0 #c2c2c2;
  margin: 10px 0 25px 0;
}
footer .title {
  font-size: 18px;
}
footer .sitemaps {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
footer .sitemaps .sitemap {
  width: 50%;
  text-align: center;
  font-size: 15px;
  color: black;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}

/*# sourceMappingURL=app.css.map */
