@page
@using Web_Development.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="banner light-grey-bg">
        <h1 class="page-title">Muziek Platen</h1>
        <p class="page-subtitle">Sub title Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aspernatur incidunt sint fugit. Illo eaque hic molestiae voluptas voluptatibus minus.</p>
        <a href="#items" class="lb-button">Bekijk de catelogus</a>
    
    </div>


    <div class="small-banner">
        <h2>Items</h2>
    </div>


    
<div width="800px" class="text-center d-flex flex-row flex-wrap items-box" id="itembox">
    @{
        foreach (Product p in Model.PreviewItems)
        {
            <div class="card" style="width: 14rem;" id="template">
                <a href="#someurl?id=" + @p.Id><img src="https://img.pixers.pics/pho_wat(s3:700/FO/47/91/87/51/700_FO47918751_8be27edc771dffb08a08b7a2a8a6299f.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/stickers-vinylplaat.jpg.jpg" class="card-img-top card-image" alt="..."></a>
                <div class="card-body">
                    <h3 class="">@p.getRecord().Title</h3>
                    <p class="font-weight-light">@p.Price</p>
                </div>
            </div>
        }
    }
</div>
<div class="small-banner">
    <h2>Meer zien?</h2>
    <p class="page-subtitle">Sub title Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aspernatur incidunt sint fugit. Illo eaque hic molestiae voluptas voluptatibus minus.</p>
</div>