@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="banner light-grey-bg">
        <h1 class="page-title">Muziek Platen</h1>
        <p class="page-subtitle">Sub title Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aspernatur incidunt sint fugit. Illo eaque hic molestiae voluptas voluptatibus minus.</p>
        <a href="https://www.google.com" class="lb-button">Bekijk de catelogus</a>
    
    </div>


    <div class="small-banner">
        <h2>Items</h2>
    </div>


    
    <div width="800px" class="text-center d-flex flex-row flex-wrap items-box" id="itembox">
        <div class="card" style="width: 14rem;" id="template">
            <a href="#item?id=123"><img src="plaat1.png" class="card-img-top card-image"  alt="..."></a>
            <div class="card-body">
                <h3 class="ligh">Plaat titel</h3>
                <p class="font-weight-light">99$</p>
             
            </div>
        </div>
    
   
        
    </div>