.account {
  section.user-details {
    width: 100%;

    table {
      width: 100%;

      tr th {
        text-align: left;
        user-select: none;
      }
    }
  }

  section.change-password {
    width: 100%;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      span.error {
        margin-bottom: 8px;
        color: red;
      }

      .input-box {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          width: 100%;
        }
      }
    }
  }

  section.create-product,
  section.import-products{    
    .center-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .vertical-align {
      height: calc(100% - 45px);
      justify-content: center;
    }
  }

  section.user-details,
  section.change-password,
  section.create-product,
  section.import-products {
    .title {
      font-size: 25px;
      margin-bottom: 15px;
      text-align: center;
      user-select: none;
    }

    button, a.btn {
      background: black;
      color: white;
      border: 0;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 15px;
      font-size: 13px;
      width: max-content;
    }
    
    input[type=file] {
      padding: 10px;
      border-radius: 5px;
      background: #d6d6d6;
      color: black;
    }
  }
}

section.purchasable-records,
section.sold-records {
  .title {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    user-select: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        background: #d6d6d6;

        th {
          text-align: left;
          user-select: none;
        }
      }
    }

    th, td {
      padding: 5px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .account {
    section.user-details {
      table {
        color: white;
      }
    }

    section.user-details,
    section.change-password,
    section.create-product,
    section.import-products {
      .title {
        color: white;
        text-align: center;
      }

      input[type=file] {
        background: #484848;
        color: white;
      }
    }
  }

  section.purchasable-records,
  section.sold-records {
    .title {
      color: white;
    }

    table {
      * {
        color: white;
      }

      thead tr {
        background: #484848;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .account {
    display: flex;
    flex-wrap: wrap;

    section.user-details, 
    section.change-password,
    section.create-product,
    section.import-products {
      width: calc(50% - 10px);
    }
    
    section.user-details, section.create-product {
      margin-right: 10px;
    }
    
    section.change-password, section.import-products {
      margin-left: 10px;
    }

    section.change-password {
      form {
        .input-box {
          flex-direction: row;

          input {
            margin-right: 15px;
          }

          input:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
