section.auth-box {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 40px;
    margin-bottom: 25px;
    user-select: none;
  }

  span {
    font-size: 13px;
    margin-bottom: 7px;
    user-select: none;
  }

  span.error {
    color: red;
  }

  a {
    background: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    user-select: none;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    input[type=text], input[type=password] {
      border: 1px solid black;
      margin-bottom: 10px;
      padding: 10px 20px;
      border-radius: 5px;
    }

    button {
      background: black;
      color: white;
      border: 0;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    button.gray {
      background: gray;
    }

    .boxes {
      display: flex;
      max-width: 500px;

      .box {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 15px;
      }

      .box:last-child {
        margin: 0 0 0 15px;
      }

      .box:first-child {
        margin: 0 15px 0 0;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    .title, span {
      color: white;
    }

    input[type=text], input[type=password] {
      background: #1c1c1c;
      color: white;
    }
  }
}