section.pagination {
  display: flex;
  justify-content: center;
  margin: 15px;
  user-select: none;

  .current, .next, .previous {
    background: #c4c4c4;
    box-shadow: 5px 5px 10px 0 #0000001c;
    height: 25px;
    min-width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 0 6px;
    padding: 5px;
  }
  
  .next, .previous {
    cursor: pointer;
  }

  @media (prefers-color-scheme: dark) {
    .current, .next, .previous {
      box-shadow: 5px 5px 10px 0 #00000063;
      background: #2d2d2d;
      color: white;
    }
  }
}