section.product {
  .title {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    user-select: none;
    width: 100%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      
      label.error {
        color: red;
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      input[type=text], select {
        height: 37.33px;
        width: 100%;
      }
    }
    
    button {
      background: black;
      color: white;
      border: 0;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
  
  #record-box {
    position: absolute;
    background: #d6d6d6;
    display: none;
    padding: 10px;
    
    .row:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  @media (prefers-color-scheme: dark) {
    .title {
      color: white;
    }
    
    #record-box {
      background: #484848;
      color: white;
    }
  }

  @media only screen and (min-width: 768px) {
    form {
      .input-box {
        input[type=text], select, label.error {
          width: 50%;
        }

        input[type=text]:nth-child(2n+2), select:nth-child(2n+2), label.error:nth-child(2n+2) {
          width: calc(50% - 10px) !important;
          margin-right: 10px;
        }

        label.error input[type=text], label.error select {
          width: 100% !important;
        }
      }
    }
  }
}