@using Web_Development.Models
@{
    Layout = "Layout";
    ViewData["Title"] = "Catalogue";
}

<section class="card-items">
    <div class="cards">
        @foreach (Record record in ViewBag.records)
        {
            @await Html.PartialAsync("_RecordCard", record)
        }
    </div>
</section>
