@using Web_Development.Models
@{
    Layout = "Layout";
    ViewData["Title"] = "Catalogue";
}

<section class="card-items">
    <div class="cards">
         @foreach (Product product in ViewBag.products)
         {
             @Html.Partial("_RecordCard", product)
         }
    </div>
</section>
<section class="pagination">
    <div class="previous"><i class="fas fa-arrow-left"></i></div>
    <div class="current">1</div>
    <div class="next"><i class="fas fa-arrow-right"></i></div>
</section>